#about {
  background-color: var(--primary);
  background-image: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  color: var(--off-white);
  min-height: 104vh;
}

.image-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image-tablet {
  width: 35vw;
  padding-bottom: 2.5%;
}

.image-desktop {
  width: 35vh;
  padding-bottom: 2.5%;
}

.image-mobile {
  width: 35vh;
  padding-bottom: 2.5%;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  flex-direction: start;
}

.info {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.a-link {
  color: var(--off-white);
}

.a-link:hover {
  color: var(--light-blue) !important;
}

.main-margin-top {
  margin-top: 5%;
}

.mobile-margin-top {
  margin-top: 15%;
}
