#contact {
  background-color: var(--off-white);
  color: var(--primary);
  min-height: 100vh;
}

.fa-icon {
  font-size: 5vh;
  color: var(--primary);
}

.a-link-contact {
  color: var(--primary);
}

.a-link-contact:hover {
  color: var(--light-blue) !important;
}

.center {
  justify-content: center;
}

.content-container {
  height: 80vh;
}
