.card-div-desktop {
  margin: 5%;
  height: 17vh;
}

.card-div-mobile {
  margin: 5%;
}

.card-div-tablet {
  margin: 5%;
  height: 13vh;
}

.card-text {
  color: var(--primary);
}

.card-text-each {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Overwrite Card CSS to reduce padding */
.card-body {
  padding: 0.5rem 1rem;
}
